name: Render and Publish
on:
  push:
    branches:
      - main  # changes pushed to this branch will trigger a build.
      - kp

jobs:
  build-deploy:
      runs-on: ubuntu-latest
      permissions:
        contents: write
      steps:
        - name: Check out repository
          uses: actions/checkout@v3

        - name: Set up R
          uses: r-lib/actions/setup-r@v2

        - name: Set up Quarto
          uses: quarto-dev/quarto-actions/setup@v2

        - name: Install system dependencies
          run: |
            sudo apt-get update
            sudo apt-get install -y libcurl4-openssl-dev libssl-dev libxml2-dev libfontconfig1-dev libcairo2-dev libharfbuzz-dev libfribidi-dev

        - name: Set up renv
          uses: r-lib/actions/setup-renv@v2

        - name: Publish to GitHub Pages (and render)
          uses: quarto-dev/quarto-actions/publish@v2
          with:
            target: gh-pages # renderred html files will be pushed here
          env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # this secret is always available
